@import '../../scss/base';

.work {
    .project {
        height: 80vh;
        background-position: center !important;
        background-size: cover !important;
        width: 100%;
        position: relative;
        z-index: 20;
        @include transition(1s all ease-in-out);

    .overlay {
      background: rgba(0,0,0,0.6);
      opacity: 1;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      @include transition(0.2s all ease-in-out);
    }

    &:hover > .overlay {
      opacity: 0.6;
    }



    &.fixed {
      position: fixed;
      top: 0;
      z-index: 20;
    }

    .project-details {
        position: absolute;
        top: 5%;
        z-index: 10;
        left: 5%;
        .project-title {
            h2 {
                color: $brand-white;
                font-size: 2.5rem;
                font-weight: 800;
                letter-spacing: 5px;
                text-transform: uppercase;
                font-family: 'Roboto Slab';
            }
        }
        .project-description {
          color: $brand-white;
          font-size: 1rem;
          font-family: "Lato";
          font-weight: 300;
          letter-spacing: 1px;
        }
        button {
          background: none;
          border: 2px solid $brand-white;
          font-size: 1rem;
          font-weight: lighter;
          letter-spacing: 3px;
          text-transform: uppercase;
          color: $brand-white;
          font-family: 'Roboto Slab';
          padding: 0.5rem 1rem;
          margin-top: 2rem;
          position: relative;
          left: 0;
          @include transition(0.3s all ease-in-out);

          &:hover {
            background: $brand-blue;
            color: $brand-white;
            border: 2px solid $brand-blue;
            cursor: pointer;
            left: 10px;
          }
        }
    }
        img.project-logo {
            max-width: 200px;
            @include transition(0.18s transform ease-in-out);
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%) scale(1);
            -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
        }
        // .project-details {
        //     position: absolute;
        //     bottom: -37px;
        //     background: rgba(0,0,0, 0.8);
        //     width: 100%;
        //     padding: 0.4rem 1rem;
        //     color: white;
        //     @include transition(0.2s all ease-in-out);
        // }
    }
    // &:hover > .project img {
    //     -webkit-transform: translate(-50%, -50%) scale(0.8);
    //     -ms-transform: translate(-50%, -50%) scale(0.8);
    //     transform: translate(-50%, -50%) scale(0.8);
    //     transform-origin: center;
    //     cursor: pointer;
    // }
    // &:hover > .project .project-details {
    //     bottom: 0;
    // }
}
