@import '../../../scss/base';

.work-detail {
  h1 {
    font-size: 2.5rem;
    color: $brand-blue;
    margin-top: 4rem;
    font-weight: 100;
    margin-bottom: 1rem;
  }
  p.built-with {
    margin-bottom: 2rem;
  }
  button.live-site-btn {
    border: 1px solid $brand-light-grey;
    @include transition(0.2s all ease-in-out);
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    color: $brand-pink;
    border: 1px solid $brand-pink;
    background: none;
    &:hover {
      color: white;
      cursor: pointer;
      background: $brand-pink;
    }
  }
}
