@import '../../../scss/base';

.work-detail {
  h1 {
    font-size: 1.2rem;
    color: $brand-dark-grey;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 10rem;
    margin-bottom: 0.2rem;
  }
  p.built-with {
    margin-bottom: 2rem;
    color: $brand-light-grey;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
  }

  p {
    color: darken($brand-light-grey, 10%);
    font-weight: 200;
    line-height: 1.8rem;
  }

  h2 {
    color: $brand-dark-grey;
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
  }
  hr {
    border-top: 1px solid #eee;
    margin-top: 4rem;
  }
  button.live-site-btn {
    border: 1px solid $brand-light-grey;
    @include transition(0.2s all ease-in-out);
    font-weight: 300;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    padding: 0.3rem 0.8rem;
    text-transform: uppercase;
    color: $brand-pink;
    border: 1px solid $brand-pink;
    background: none;
    border-radius: 18rem;
    &:hover {
      color: white;
      cursor: pointer;
      background: $brand-pink;
    }
  }

  .project-image {
    img {
      margin-top: 1rem;
    }
  }
}


.project-navigation {

  ul {
    list-style: none;
    li {
      color: $brand-grey;
      padding: 0.5rem 0;
    }
  }
  
}