<section class="work-detail" *ngIf="activeProject">
  <div class="wrapper">
    <div class="two-thirds centered">
      <div class="full tcenter">
        <h1>{{activeProject.name}}</h1>
        <p class="built-with">Built With: {{activeProject.projectIntroDetails}}</p>
        <a href="{{activeProject.liveURL}}" target="_blank">
          <button class="live-site-btn" type="button" name="button">See Live Site</button>
        </a>
      </div>
    </div>
  </div>
  <hr>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-lg-2 col-lg-offset-2">
        <nav class="project-navigation">
          <ul>
            <li>Project Description</li>
            <li>Technologies Used</li>
            <li>User Interface</li>
            <li>User Experience</li>
          </ul>
        </nav>
        </div>
        <div class="col-md-8 col-lg-9 col-sm-12">
          <h2>Project Background</h2>
          <p>{{activeProject.projectDescription}}</p>
          <div *ngFor="let image of activeProjectImages" class="project-image">
            <img src="{{image}}" alt="">
          </div>
        </div>
      </div>
    </div>

</section>
