<section class="main-nav" [ngClass]="{'home': isHome}">
  <div class="wrapper">
    <div class="clearfix">
        <div class="logo">
          <a routerLink="" (click)="fireRouteChange($event)">
            <svg class="logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 7.1 13.8" style="enable-background:new 0 0 7.1 13.8;" xml:space="preserve">
              <path id="XMLID_7_" class="st0" d="M5.9,7.7c0.7-0.6,1.2-1.6,1.2-2.6c0-1-0.4-1.9-1.1-2.6C6.6,1.9,7,1,7,0v0L5.1,0
                c0,0.8-0.6,1.5-1.4,1.6c-0.1,0-0.1,0-0.2,0v0c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0,0,0,0h0v0C1.6,1.6,0,3.2,0,5.1c0,0,0,0,0,0
                C0,7,1.5,8.6,3.5,8.7v0h0.1c0.9,0,1.5,0.7,1.5,1.6l0,0h0v0c0,0.4-0.2,0.8-0.5,1.1c-0.3,0.3-0.7,0.5-1.1,0.5h0v0c0,0,0,0,0,0
                c-0.5,0-0.9-0.2-1.2-0.6l-1.4,1.4c0.6,0.7,1.6,1.1,2.6,1.1c1,0,1.9-0.4,2.5-1c0.6-0.6,1-1.5,1-2.5C7,9.3,6.6,8.4,5.9,7.7z M2,5.1
                C2,5.1,2,5.1,2,5.1c0-0.9,0.7-1.5,1.5-1.6v0c0,0,0,0,0,0c0.1,0,0.1,0,0.2,0c0.8,0.1,1.5,0.8,1.5,1.6c0,0.9-0.7,1.6-1.6,1.6
                C2.7,6.7,2,6,2,5.1z"/>
            </svg>
          </a>
        </div>
      <div class="menu-bars" (click)="openMenu()">
        <svg class="menu-bars-icon" xmlns="http://www.w3.org/2000/svg" width="89" height="91" viewBox="0 0 89 91">
          <path id="Forma_1" data-name="Forma 1" class="cls-1" d="M91,1H1V15.1H91V1ZM65.737,26.519H1.054v14.1H65.737v-14.1ZM91,53.379H1v14.1H91v-14.1ZM65.737,78.9H1.054V93H65.737V78.9Z" transform="translate(-1 -1)"/>
        </svg>
      </div>
    </div>
  </div>
</section>

<side-menu [isCollapsed]="isCollapsed" [ngClass]="{'open': isCollapsed}"></side-menu>
