@import '../../../scss/base';

header {
	position: relative;
	width: 100%;
}

.main-nav {
	background: $brand-blue;
	padding: 0.5rem 0;
	min-height: 80px;
	svg {
		max-width: 20px;
		fill: #fff;
		float: left;
	}
	nav {
		float: right;
		width: 50%;

	}
	ul {
		list-style: none;
		li {
			display: inline-block;
			a {
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 0.1rem;
				font-size: 0.8rem;
				&:hover {
					color: $brand-blue;
				}
			}
		}
	}
}
