@import '../../../scss/base';

header {
	position: relative;
	width: 100%;
}

.menu-bars {
	svg.menu-bars-icon {
			fill: $brand-grey;
		@include transition(0.2s all ease-in-out);
		&:hover {
			cursor: pointer;
			fill: $brand-blue;
		}
	}
}

.main-nav {
	@include transition(0.2s all ease-in-out);
	background: white;
	border-bottom: 1px solid #eee;
	position: fixed;
	left: -380px;
	width: 20%;
	z-index: 100;
	height: 100vh;
	top: 0;
	padding: 1rem 0;

	&.open {
    left: 0px;
  }

	.logo {
		width: 100%;
		display: block;
		svg.logo {
			max-width: 15px;
			fill: $brand-blue;
			text-align: right;
			float: right;
			margin-right: 30px;
			// margin: 0 auto;
		}
	}

	.menu-bars {
		width: 100%;
		display: block;
		height: 30px;
		svg.menu-bars-icon {
			max-width: 15px;
			fill: $brand-grey;
			margin: 0 auto;
			float: right;
			margin-right: 0px;
			@include transition(0.2s all ease-in-out);
			&:hover {
				fill: $brand-blue;
			}
		}
	}
	nav {
		margin-top: 0.5rem;
	}
	ul {
		list-style: none;
		li {
			display: block;
			a {
				color: $brand-dark-grey;
				text-transform: uppercase;
				letter-spacing: 0.1rem;
				font-size: 0.6rem;
				padding: 0 1rem;
				text-decoration: none;
				vertical-align: middle;
				opacity: 0.6;
				@include transition(0.2s all ease-in-out);
				&.active {
					opacity: 1;
					color: $brand-blue;
				}
				&.active > svg {
					fill: $brand-blue;
				}
				svg.menu-item {
					vertical-align: middle;
					margin-right: 0.4rem;
					max-width: 15px;
					fill: $brand-dark-grey;

				}
			}
			&:hover {
				cursor: pointer;
			}
			&:hover > a,
			&:hover > a svg {
				opacity: 1;
				fill: darken($brand-dark-grey, 10%);
			}
		}
	}

	// &.home {
	// 	background: none;
	// 	position: fixed;
	// 	left: 0;
	// 	z-index: 20;
	// 	top: 0;
	// 	width: 5%;
	// 	height: 100vh;
	// 	padding: 1rem 0;
	// 	border-bottom: 1px solid rgba(255,255,255, 0.2);
	//
	// 	svg {
	// 		max-width: 20px;
	// 		// fill: #fff;
	// 	}
	// 	nav {
	// 		margin-top: 0.5rem;
	// 	}
	// 	ul {
	// 		list-style: none;
	// 		li {
	// 			display: block;
	// 			a {
	// 				color: #fff;
	// 				text-transform: uppercase;
	// 				letter-spacing: 0.1rem;
	// 				font-size: 0.6rem;
	// 				padding: 0 1rem;
	// 				text-decoration: none;
	// 				vertical-align: middle;
	// 				opacity: 0.6;
	// 				@include transition(0.2s all ease-in-out);
	// 				&.active {
	// 					opacity: 1;
	// 					color: white;
	// 				}
	// 				&.active > svg {
	// 					fill: white;
	// 				}
	// 				svg.menu-item {
	// 					vertical-align: middle;
	// 					margin-right: 0.4rem;
	// 					max-width: 15px;
	// 					fill: white;
	// 				}
	// 			}
	// 			&:hover {
	// 				cursor: pointer;
	// 			}
	// 			&:hover > a,
	// 			&:hover > a svg {
	// 				opacity: 1;
	// 				fill: white;
	// 			}
	// 		}
	// 	}
	// }

	&.scrolled {
		background: #fff;
		padding: 0.5rem 0;
		border-bottom: 1px solid #eee;
		svg {
			fill: $brand-blue;
		}
		ul {
			li {
				a {
					color: $brand-dark-grey;
					&.active {
						color: $brand-blue;
						svg {
							fill: $brand-blue;
						}
					}
					svg {
						fill: $brand-dark-grey;
					}
				}
				&:hover {
					cursor: pointer;
				}
				&:hover > a,
				&:hover > a svg {
					opacity: 1;
					fill: darken($brand-dark-grey, 15%);
				}
				&:hover > a.active svg {
					fill: $brand-blue;
				}
			}
		}
	}
}
