<div class="container-fluid">
  <section class="admin" style="margin-top: 10rem;">
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-1">
        <h6>Admin Menu</h6>
        <hr>
        <!-- TODO: Add Icons for these links -->
        <nav>
          <ul>
            <li><a routerLink="projects">Projects</a></li>
            <li><a routerLink="add-testimonial">Testimonials</a></li>
            <li><a routerLink="emails">Emails</a></li>
          </ul>
        </nav>
      </div>
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
