<form action="" class="add-testimonial-form" (ngSubmit)="onSubmit()" #testimonialForm="ngForm">
  <div class="form-group">
    <label for="testimonial-author">Testimonial Author</label>
    <input type="text" class="form-control" id="testimonial-author" [(ngModel)]="testimonialAuthor" name="testimonial-author" required>
  </div>
  <div class="form-group">
    <label for="testimonial-client">Testimonial Client</label>
      <input type="text" class="form-control" id="testimonial-client" [(ngModel)]="testimonialClient" name="testimonial-client" required>
  </div>
  <div class="form-group">
    <label for="testimonial-content">Testimonial Description</label>
    <textarea name="project-description" id="testimonial-content" class="form-control" rows="8" cols="80" [(ngModel)]="testimonialContent" name="testimonial-content"></textarea>
  </div>

  <button type="submit" [disabled]="!testimonialForm.form.valid">Submit</button>
</form>
