<section class="testimonials" *ngIf="testimonials">
  <div class="wrapper">
    <div class="full">
      <h2>What My Clients Are Saying</h2>
      <swiper [config]="config">
      <!-- <div class="swiper-wrapper">
        <div  *ngFor="let testimonial of testimonials" class="testimonial swiper-slide">
          <p class="testimonial-content">{{testimonial.content}}</p>
          <span>{{testimonial.clientName}}</span>
          <span>{{testimonial.client}}</span>
        </div>
      </div> -->
      <!-- <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> -->
    </swiper>
    </div>
  </div>




</section>
