@import '../../scss/base';

section.testimonials {
  clear: both;
  position: relative;
  z-index: 10;
  background: #eeeeee;
  h2 {
    text-align: center;
    color: $brand-blue;
    font-size: 2.4rem;
    padding: 5rem 0 2rem 0;
    font-weight: 100;
  }
  .testimonial {
    width: 100%;
    max-width: 1024px;
    text-align: center;
    margin: 0 auto;
  }
}
