<section class="testimonials" *ngIf="testimonials">
  <div class="wrapper">
    <div class="full">
      <h2>What My Clients Are Saying</h2>
      <swiper [config]="config">
      <div class="swiper-wrapper">
        <div  *ngFor="let testimonial of testimonials" class="testimonial swiper-slide">
          <p class="testimonial-content">{{testimonial.acf.testimonial_text}}</p>
          <span>{{testimonial.acf.testimonial_author_name}}</span>
          <span>{{testimonial.acf.testimonial_client}}</span>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
    </div>
  </div>




</section>
