@import '../../scss/base';

section.testimonials {
  clear: both;
  position: relative;
  z-index: 10;
  background: #eee;
  padding-bottom: 4rem;
  h2 {
    text-align: center;
    color: $brand-dark-grey;
    font-size: 2rem;
    padding: 5rem 0 2rem 0;
    font-weight: 100;
  }
  .testimonial.swiper-slide {
    width: 100%;
    padding: 4rem 0;
    text-align: center;
    margin: 0 auto;
    p {
      color: $brand-dark-grey;
    }
    span {
      display: block;
      font-family: 'Roboto Slab', sans-serif;
      font-weight: bold;
      margin-top: 1rem;
    }
  }
}
