/* You can add global styles to this file, and also import other style files */
@import './scss/mixins';

* {
  margin: 0;
  padding: 0;
}

p, a, li, label, input {
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: normal;
  @include fontSmoothing;
}



.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  svg {
  max-width: 30px;
  height: 60px;
  position: relative;
  fill: #00aaff;
  z-index: 10;
  animation: bounce 1s infinite cubic-bezier(0.56, 0.01, 0.39, 0.98);
  }
  .shadow {
    position: absolute;
    bottom: 0px;
    left: -4px;
    display: block;
    width: 40px;
    height: 7px;
    background: rgba(0,0,0,0.1);
    border-radius: 100%;
    animation: shadow 1s infinite cubic-bezier(0.56, 0.01, 0.39, 0.98);
    content: '';
  }
}

@keyframes bounce {
  0% {
    transform: scale(1, 1) rotate(0deg);
  }

  50% {
    transform: scale(0.90, 1.02) translateY(-15px);
  }
}

@keyframes shadow {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.7, 1);
    background: rgba(0,0,0,.05);
  }
}
