@import '../../scss/base';

.central-display {
  // background: $brand-blue;
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  .headlines {
    @include center-align;
    text-align: center;
    h1, h4 {
      color: #fff;
    }
    h1 {
      letter-spacing: 0.1rem;
      font-size: 2rem;
    }
    h4 {
      letter-spacing: 0.1rem;
      font-family: 'Lato', sans-serif;
      font-weight: 100;
    }
    a.see-work {
      color: white;
      text-decoration: none;
      font-weight: 100;
      text-align: center;
      display: block;
      margin: 2rem auto 0 auto;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      @include transition(0.2s all ease-in-out);
      border: 1px solid #fff;
      padding: 0.5rem 0.1rem;
      max-width: 200px;

      &:hover {
        color: #fff;
        background: $brand-pink;
        border: 1px solid $brand-pink;
      }
    }
  }
}

.skills-and-passions {
  padding: 4rem 0;
  background: $brand-blue;
  position: relative;
  overflow: hidden;
  margin-top: -16px;

  svg {
    max-width: 35px;
    fill: white;
  }

  h1 {
    color: white;
    font-weight: 100;
    font-size: 2rem;
    margin-bottom: 3rem;
  }

  h2 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 100;
  }

  p {
    color: white;
    line-height: 1.5rem;
  }
}
